<section id="gigs" class="container">
    <h1>All Gigs</h1>
    {{#each gigs}}
    <a href="/gigs/{{id}}" class="title-link">
        <div class="gig">
            <h3> {{title}} </h3>
        </div>
    </a>
    {{else}}
    <p>No gigs available</p>
    {{/each}}
</section>