@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --brand-color: #000;
    --secondary-color: #5a6268;
}

a.brand-name:link,
a.brand-name:visited,
a.brand-name:hover,
a.brand-name:active {
    text-decoration: none;
    color: var(--brand-color);
}

.pagination.text-center {
    width: 50%;
    margin: 50px auto;
}

.buy-btn {
    margin: 10px;
}

.view-btn {
    color: var(--secondary-color);
}

.view-btn:hover {
    color: #fff;
    text-decoration: none;
}

.single_product {
    margin: 10px;
}

.edit-remove-btn {
    bottom: 38px;
    left: 80px;
    position: relative;
}

.login-form {
    border-style: none;
}